<h1>Statskeeper</h1>

<ul>
  {{#each player in model}}
  <li>{{#link-to 'player' player.id}}{{player.name}}{{/link-to}}</li>
  {{/each}}
</ul>

{{#if addingPlayer}}
<form>
  <div class="form-group">
    <label for="add_player">Add player</label>
    {{textarea value=name}}
    <label for="add_image">Add image:</label>
    {{textarea value=image}}
    <button class="btn btn-primary" {{action 'save_player'}}>Save</button>
  </div>
</form>

{{else}}
<button class="btn btn-primary" {{action 'new_player'}}>Add new player</button>

{{/if}}
