<h1> {{name}} </h1>
  <img {{bind-attr src=image}} alt="picture of this player">
  <br>
  Shot Attempts: {{shotAttempts}} <br>
  Shots Made: {{shotsMade}} <br>
  Assists: {{assists}} <br>
  Rebounds: {{rebounds}}
