<h1> {{name}} </h1>
  <img {{bind-attr src=image}} alt="picture of this player">
  <br>
  Points: {{points}} <br>
  Shot Percentage: {{shotPercentage}} %<br>
  Shot Attempts: {{shotAttempts}} <button class="btn btn-danger" {{action 'missed_shot'}}>Miss </button> <br>
  Shots Made: {{shotsMade}} <button class="btn btn-success" {{action 'made_shot'}}>Make </button><br>
  Assists: {{assists}} <button class="btn btn-success" {{action 'add_assist'}}>Assist </button><br>
  Rebounds: {{rebounds}} <button class="btn btn-success" {{action 'add_rebound'}}>Rebound </button>
