  <!-- <div class="col-sm-4 col-centered"> -->
    <h2>{{this.name}}</h2>

    <ul>
      {{#each player in this.players}}
        {{#if player.highScorer}}
          <li><span class='highScorer'>{{#link-to 'player' player.id}}{{player.name}}{{/link-to}}</span></li>
        {{else}}
          <li>{{#link-to 'player' player.id}}{{player.name}}{{/link-to}}</li>
        {{/if}}
      {{/each}}
    </ul>

    <p>{{#link-to 'new-player' this.id class="btn btn=default"}}New Player{{/link-to}}</p>
  <!-- </div> -->
<div class="row-centered">
  <div class="col-sm-4 col-centered">
    {{outlet}}

  </div>
</div>
