<div class="row-centered">
  <div class="col-md-4 col-centered">
    <h1> Teams </h1>
    {{#each team in model}}
      <li><div id='checkHighScorer' {{action 'highScorer'}}>{{#link-to 'team' team.id}}{{team.name}}{{/link-to}}</div></li>
    {{/each}}

    <form>
      <div class="form-group">
        <label for="add_team">Add team</label>
        {{textarea value=name}}
        <button class="btn btn-primary" {{action 'save_team'}}>Save</button>
      </div>
    </form>
  </div>
    {{outlet "player"}}
</div>

<div class="row-centered">
  <div class="col-md-4 col-centered">
    {{outlet "team"}}
    <!-- {{outlet}} -->
  </div>
</div>
